<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" thread-count="2" parallel="tests">
    <test name="ChromeTest">
        <parameter name="browserType" value="chrome"/>
        <classes>
            <class name="ge.tbc.testautomation.selenide.AdvancedSelenide">
<!--                <methods>-->
<!--                    <include name=""-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
<!--    <test name="FirefoxTest">-->
<!--        <parameter name="browserType" value="firefox"/>-->
<!--        <classes>-->
<!--            <class name="ge.tbc.testautomation.selenide.AdvancedSelenide">-->
<!--                &lt;!&ndash;                <methods>&ndash;&gt;-->
<!--                &lt;!&ndash;                    <include name=""&ndash;&gt;-->
<!--                &lt;!&ndash;                </methods>&ndash;&gt;-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>